body{
	background-color: darkgrey;
}

.container{

    width: 412px;
    height: 416px;
    margin: auto;
    background-color: #181E27;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6em;
 }
form{
	float: center;
}
h2{
	color: white;
}
p{
	color: grey;
	line-height: 1.6em;
	font-size: normal;
}

	
button{

    border-radius: 15px;
    background-color: gray;
}
button:hover{
    color: white;
}
 
 
 input{
 	border-radius: 15px;
 	background-color: orange;
 }
 .circletag{
 	width: 10px;
    height: 10px;
    padding: 7px;
    border-radius: 50%;
    background-color: grey;
    
 }
 
 	.circletag img{
   
    text-align: center;
    display: block;

   }

