body{
	
	background-color: black;
	margin-top: 50PX;
}

 .container{
    width: 400px;
    height: 350px;
    margin: auto;
    background-color: #181E27;
    padding: 40px 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6em;
 }
form{
	float: center;
	align-content: center;
}
h2{
	color: white;
	padding-top: 30px;
	text-align: left; margin-left: 50px;
}
p{
	display: flex;
	justify-content: center;
	color: grey;
	line-height: 2em;
	font-size: normal;
   text-align: left;
}

	
button{
	width: 40PX;
	height: 40PX;
    border-radius: 20px;
    background-color: #383838;
    border: none;
	margin-inline: ;

}
button:hover{
    background-color: white;
}

 
button:active{
	background-color: orangered;
 }
 
 button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px gray;
 }

 input{
 	margin-top: 10px;
 	border: none;
 	padding: 7px 130px;
 	border-radius: 15px;
 	background-color: orangered;
 }

 input:hover{
	color: orange;
	background-color: whitesmoke;
 }
 .circletag{
 	width: 30PX;
 	height: 30PX;
 	border-radius: 50%;
 	background-color: #383838;
	margin-left: 50px;
 }
 .circletag: img{
 	display: flex-center;
 }

 .center{

 	display: flex;
	justify-content: center;
 }
 img{
 	padding: 4px 4px;
 }

